/* Montserrat font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* css variables */
:root {
  --armor-red: #b00000;
  --gunmetal-gray: #5c5c5c;
  --armor-gold: #ffb800;
  --arc-reactor-blue: #00e5ff;
}

/* global configuration */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  padding: 0 100px;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  /* border: 1px solid red; */
}
.hero-reverse {
  flex-direction: row-reverse;
  /* border: 1px solid red; */
}
.hero-texts,
.hero-image {
  width: 100%;
}
.hero-image {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: flex-end;
}
.hero-img-start {
  justify-content: flex-start;
}
.hero-image img {
  width: 350px;
  border-radius: 40px;
}

.hero-texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.hero-texts h1 {
  /* margin-bottom: 8px; */
  font-size: 2.5rem;
}
.red-text {
  color: var(--armor-red);
}
.gold-text {
  color: var(--armor-gold);
}
.hero-texts h2 {
  /* margin-bottom: 8px; */
  font-size: 1.5rem;
  color: var(--gunmetal-gray);
}

/* .hero-texts button {
  margin-top: 8px;
} */
.hirebtn {
  border: none;
  background-color: var(--armor-red);
  color: #fff;
  padding: 15px 40px;
  border-radius: 9999px;
  font-weight: 500;
  cursor: pointer;
  /* margin-top: 20px; */
}

/* Experience section */
.experience-section {
  margin: 0 50px;
  padding: 20px 100px;
  border-radius: 30px;
  background-color: rgba(0, 229, 255, 0.2);
}
.experience-section > h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: var(--gunmetal-gray);
}

.experience {
  padding: 20px;
  border-left: 1px solid var(--gunmetal-gray);
}
.experience > h1 {
  color: var(--gunmetal-gray);
  font-size: 1.4rem;
  margin-bottom: 16px;
}
.experience > h4 {
  color: var(--armor-red);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 16px;
}
.experience > p {
  color: #777777;
  font-size: 1rem;
}
.hr-line-box {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.hr_line {
  flex-grow: 1;
  border: 1px solid lightgray;
}
.hr_linetxt {
  color: lightgray;
  font-size: 35px;
  padding: 0 20px;
  font-weight: bold;
}
footer {
  margin-top: 50px;
  padding: 20px;
}
.copyright-text {
  color: var(--gunmetal-gray);
}

@media screen and (max-width: 480px) {
  section {
    padding: 0 10px;
  }
  .hr-line-box {
    display: none;
  }
  /* hero section */
  .hero {
    /* the issue was height */
    height: auto;
    top: 0;
    justify-content: flex-start;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 40px;
    /* overflow-y: hidden; */
  }
  .hero-reverse {
    flex-direction: column;
    margin: 50px 0;
  }
  .hero-texts,
  .hero-image {
    max-width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }
  .hero-image img {
    width: 100%;
  }
  .hero-image,
  .hero-img-start {
    justify-content: center;
  }

  .experience-section {
    margin: 0;
    border-radius: 0;
    padding: 10px;
  }
}
